<div id="quote" class="row">
  <div class="six columns centered">
    <h3><%= @quote.text %></h3>
    <h4 class="subheader">-<%= @quote.author %></h4>
  </div>
</div>

<script>  
    var $marginTop = ($(window).height() / 4 + 'px');   
    if($(window).height() > 625){   
        $('body').css({'margin-top': $marginTop});   
    }

</script>